<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.racing.dao.AccountTransDetailMapper" >
  <resultMap id="BaseResultMap" type="com.racing.model.AccountTransDetail" >
    <id column="APPLICATION_ID" property="applicationId" jdbcType="VARCHAR" />
    <result column="CASE_NUMBER" property="caseNumber" jdbcType="VARCHAR" />
    <result column="CASE_TYPE" property="caseType" jdbcType="VARCHAR" />
    <result column="EMERGENCY_LEVEL" property="emergencyLevel" jdbcType="VARCHAR" />
    <result column="SUBJECT_TYPE" property="subjectType" jdbcType="VARCHAR" />
    <result column="BANK_ID" property="bankId" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
    <result column="CARD_NUMBER" property="cardNumber" jdbcType="VARCHAR" />
    <result column="INQUIRY_MODE" property="inquiryMode" jdbcType="VARCHAR" />
    <result column="INQUIRY_PERIOD_START" property="inquiryPeriodStart" jdbcType="VARCHAR" />
    <result column="INQUIRY_PERIOD_END" property="inquiryPeriodEnd" jdbcType="VARCHAR" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="APPLICATION_TIME" property="applicationTime" jdbcType="VARCHAR" />
    <result column="APPLICATION_ORG_ID" property="applicationOrgId" jdbcType="VARCHAR" />
    <result column="APPLICATION_ORG_NAME" property="applicationOrgName" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID_TYPE" property="operatorIdType" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID_NUMBER" property="operatorIdNumber" jdbcType="VARCHAR" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
    <result column="OPERATOR_PHONE_NUMBER" property="operatorPhoneNumber" jdbcType="VARCHAR" />
    <result column="INVESTIGATOR_ID_TYPE" property="investigatorIdType" jdbcType="VARCHAR" />
    <result column="INVESTIGATOR_ID_NUMBER" property="investigatorIdNumber" jdbcType="VARCHAR" />
    <result column="INVESTIGATOR_NAME" property="investigatorName" jdbcType="VARCHAR" />
    <result column="TX_CODE" property="txCode" jdbcType="VARCHAR" />
    <result column="FROM_T_G_ORGANIZATION_ID" property="fromTGOrganizationId" jdbcType="VARCHAR" />
    <result column="MESSAGE_FROM" property="messageFrom" jdbcType="VARCHAR" />
    <result column="TRANS_SERIAL_NUMBER" property="transSerialNumber" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="DATE" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    APPLICATION_ID, CASE_NUMBER, CASE_TYPE, EMERGENCY_LEVEL, SUBJECT_TYPE, BANK_ID, BANK_NAME, 
    ACCOUNT_NAME, CARD_NUMBER, INQUIRY_MODE, INQUIRY_PERIOD_START, INQUIRY_PERIOD_END, 
    REASON, REMARK, APPLICATION_TIME, APPLICATION_ORG_ID, APPLICATION_ORG_NAME, OPERATOR_ID_TYPE, 
    OPERATOR_ID_NUMBER, OPERATOR_NAME, OPERATOR_PHONE_NUMBER, INVESTIGATOR_ID_TYPE, INVESTIGATOR_ID_NUMBER, 
    INVESTIGATOR_NAME, TX_CODE, FROM_T_G_ORGANIZATION_ID, MESSAGE_FROM, TRANS_SERIAL_NUMBER, 
    CREATE_TIME, LAST_UPDATE_TIME, TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from NC_QC_ACCOUNTTRANSDETAIL
    where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from NC_QC_ACCOUNTTRANSDETAIL
    where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.racing.model.AccountTransDetail" >
    insert into NC_QC_ACCOUNTTRANSDETAIL (APPLICATION_ID, CASE_NUMBER, CASE_TYPE, 
      EMERGENCY_LEVEL, SUBJECT_TYPE, BANK_ID, 
      BANK_NAME, ACCOUNT_NAME, CARD_NUMBER, 
      INQUIRY_MODE, INQUIRY_PERIOD_START, INQUIRY_PERIOD_END, 
      REASON, REMARK, APPLICATION_TIME, 
      APPLICATION_ORG_ID, APPLICATION_ORG_NAME, OPERATOR_ID_TYPE, 
      OPERATOR_ID_NUMBER, OPERATOR_NAME, OPERATOR_PHONE_NUMBER, 
      INVESTIGATOR_ID_TYPE, INVESTIGATOR_ID_NUMBER, 
      INVESTIGATOR_NAME, TX_CODE, FROM_T_G_ORGANIZATION_ID, 
      MESSAGE_FROM, TRANS_SERIAL_NUMBER, CREATE_TIME, 
      LAST_UPDATE_TIME, TYPE)
    values (#{applicationId,jdbcType=VARCHAR}, #{caseNumber,jdbcType=VARCHAR}, #{caseType,jdbcType=VARCHAR}, 
      #{emergencyLevel,jdbcType=VARCHAR}, #{subjectType,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{inquiryMode,jdbcType=VARCHAR}, #{inquiryPeriodStart,jdbcType=VARCHAR}, #{inquiryPeriodEnd,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{applicationTime,jdbcType=VARCHAR}, 
      #{applicationOrgId,jdbcType=VARCHAR}, #{applicationOrgName,jdbcType=VARCHAR}, #{operatorIdType,jdbcType=VARCHAR}, 
      #{operatorIdNumber,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{operatorPhoneNumber,jdbcType=VARCHAR}, 
      #{investigatorIdType,jdbcType=VARCHAR}, #{investigatorIdNumber,jdbcType=VARCHAR}, 
      #{investigatorName,jdbcType=VARCHAR}, #{txCode,jdbcType=VARCHAR}, #{fromTGOrganizationId,jdbcType=VARCHAR}, 
      #{messageFrom,jdbcType=VARCHAR}, #{transSerialNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{lastUpdateTime,jdbcType=DATE}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.racing.model.AccountTransDetail" >
    insert into NC_QC_ACCOUNTTRANSDETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applicationId != null" >
        APPLICATION_ID,
      </if>
      <if test="caseNumber != null" >
        CASE_NUMBER,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="emergencyLevel != null" >
        EMERGENCY_LEVEL,
      </if>
      <if test="subjectType != null" >
        SUBJECT_TYPE,
      </if>
      <if test="bankId != null" >
        BANK_ID,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME,
      </if>
      <if test="cardNumber != null" >
        CARD_NUMBER,
      </if>
      <if test="inquiryMode != null" >
        INQUIRY_MODE,
      </if>
      <if test="inquiryPeriodStart != null" >
        INQUIRY_PERIOD_START,
      </if>
      <if test="inquiryPeriodEnd != null" >
        INQUIRY_PERIOD_END,
      </if>
      <if test="reason != null" >
        REASON,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="applicationTime != null" >
        APPLICATION_TIME,
      </if>
      <if test="applicationOrgId != null" >
        APPLICATION_ORG_ID,
      </if>
      <if test="applicationOrgName != null" >
        APPLICATION_ORG_NAME,
      </if>
      <if test="operatorIdType != null" >
        OPERATOR_ID_TYPE,
      </if>
      <if test="operatorIdNumber != null" >
        OPERATOR_ID_NUMBER,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="operatorPhoneNumber != null" >
        OPERATOR_PHONE_NUMBER,
      </if>
      <if test="investigatorIdType != null" >
        INVESTIGATOR_ID_TYPE,
      </if>
      <if test="investigatorIdNumber != null" >
        INVESTIGATOR_ID_NUMBER,
      </if>
      <if test="investigatorName != null" >
        INVESTIGATOR_NAME,
      </if>
      <if test="txCode != null" >
        TX_CODE,
      </if>
      <if test="fromTGOrganizationId != null" >
        FROM_T_G_ORGANIZATION_ID,
      </if>
      <if test="messageFrom != null" >
        MESSAGE_FROM,
      </if>
      <if test="transSerialNumber != null" >
        TRANS_SERIAL_NUMBER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applicationId != null" >
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="emergencyLevel != null" >
        #{emergencyLevel,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="inquiryMode != null" >
        #{inquiryMode,jdbcType=VARCHAR},
      </if>
      <if test="inquiryPeriodStart != null" >
        #{inquiryPeriodStart,jdbcType=VARCHAR},
      </if>
      <if test="inquiryPeriodEnd != null" >
        #{inquiryPeriodEnd,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="applicationOrgId != null" >
        #{applicationOrgId,jdbcType=VARCHAR},
      </if>
      <if test="applicationOrgName != null" >
        #{applicationOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdType != null" >
        #{operatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdNumber != null" >
        #{operatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorPhoneNumber != null" >
        #{operatorPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdType != null" >
        #{investigatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdNumber != null" >
        #{investigatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorName != null" >
        #{investigatorName,jdbcType=VARCHAR},
      </if>
      <if test="txCode != null" >
        #{txCode,jdbcType=VARCHAR},
      </if>
      <if test="fromTGOrganizationId != null" >
        #{fromTGOrganizationId,jdbcType=VARCHAR},
      </if>
      <if test="messageFrom != null" >
        #{messageFrom,jdbcType=VARCHAR},
      </if>
      <if test="transSerialNumber != null" >
        #{transSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=DATE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.racing.model.AccountTransDetail" >
    update NC_QC_ACCOUNTTRANSDETAIL
    <set >
      <if test="caseNumber != null" >
        CASE_NUMBER = #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="emergencyLevel != null" >
        EMERGENCY_LEVEL = #{emergencyLevel,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        SUBJECT_TYPE = #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        BANK_ID = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="inquiryMode != null" >
        INQUIRY_MODE = #{inquiryMode,jdbcType=VARCHAR},
      </if>
      <if test="inquiryPeriodStart != null" >
        INQUIRY_PERIOD_START = #{inquiryPeriodStart,jdbcType=VARCHAR},
      </if>
      <if test="inquiryPeriodEnd != null" >
        INQUIRY_PERIOD_END = #{inquiryPeriodEnd,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        APPLICATION_TIME = #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="applicationOrgId != null" >
        APPLICATION_ORG_ID = #{applicationOrgId,jdbcType=VARCHAR},
      </if>
      <if test="applicationOrgName != null" >
        APPLICATION_ORG_NAME = #{applicationOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdType != null" >
        OPERATOR_ID_TYPE = #{operatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdNumber != null" >
        OPERATOR_ID_NUMBER = #{operatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorPhoneNumber != null" >
        OPERATOR_PHONE_NUMBER = #{operatorPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdType != null" >
        INVESTIGATOR_ID_TYPE = #{investigatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdNumber != null" >
        INVESTIGATOR_ID_NUMBER = #{investigatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorName != null" >
        INVESTIGATOR_NAME = #{investigatorName,jdbcType=VARCHAR},
      </if>
      <if test="txCode != null" >
        TX_CODE = #{txCode,jdbcType=VARCHAR},
      </if>
      <if test="fromTGOrganizationId != null" >
        FROM_T_G_ORGANIZATION_ID = #{fromTGOrganizationId,jdbcType=VARCHAR},
      </if>
      <if test="messageFrom != null" >
        MESSAGE_FROM = #{messageFrom,jdbcType=VARCHAR},
      </if>
      <if test="transSerialNumber != null" >
        TRANS_SERIAL_NUMBER = #{transSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=DATE},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.racing.model.AccountTransDetail" >
    update NC_QC_ACCOUNTTRANSDETAIL
    set CASE_NUMBER = #{caseNumber,jdbcType=VARCHAR},
      CASE_TYPE = #{caseType,jdbcType=VARCHAR},
      EMERGENCY_LEVEL = #{emergencyLevel,jdbcType=VARCHAR},
      SUBJECT_TYPE = #{subjectType,jdbcType=VARCHAR},
      BANK_ID = #{bankId,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      INQUIRY_MODE = #{inquiryMode,jdbcType=VARCHAR},
      INQUIRY_PERIOD_START = #{inquiryPeriodStart,jdbcType=VARCHAR},
      INQUIRY_PERIOD_END = #{inquiryPeriodEnd,jdbcType=VARCHAR},
      REASON = #{reason,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      APPLICATION_TIME = #{applicationTime,jdbcType=VARCHAR},
      APPLICATION_ORG_ID = #{applicationOrgId,jdbcType=VARCHAR},
      APPLICATION_ORG_NAME = #{applicationOrgName,jdbcType=VARCHAR},
      OPERATOR_ID_TYPE = #{operatorIdType,jdbcType=VARCHAR},
      OPERATOR_ID_NUMBER = #{operatorIdNumber,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      OPERATOR_PHONE_NUMBER = #{operatorPhoneNumber,jdbcType=VARCHAR},
      INVESTIGATOR_ID_TYPE = #{investigatorIdType,jdbcType=VARCHAR},
      INVESTIGATOR_ID_NUMBER = #{investigatorIdNumber,jdbcType=VARCHAR},
      INVESTIGATOR_NAME = #{investigatorName,jdbcType=VARCHAR},
      TX_CODE = #{txCode,jdbcType=VARCHAR},
      FROM_T_G_ORGANIZATION_ID = #{fromTGOrganizationId,jdbcType=VARCHAR},
      MESSAGE_FROM = #{messageFrom,jdbcType=VARCHAR},
      TRANS_SERIAL_NUMBER = #{transSerialNumber,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=DATE},
      TYPE = #{type,jdbcType=VARCHAR}
    where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
  </update>
</mapper>